<h1>Signup!</h1>
<div class='form-container'>
  <%= form_for :user, url: '/users' do |f| %>

  <div >
    <div>
     <span class='span-label'> First Name: </span>
       <%= f.text_field :first_name %>
    </div>

    <div>
      <span class='span-label'> Last Name: </span>
      <%= f.text_field :last_name %>
    </div>

    <div >
    <span class='span-label'> Email: </span>
      <%= f.text_field :email %>
    </div>

    <div >
    <span class='span-label'> Password: </span>
      <%= f.password_field :password %>
    </div>

    <div>
    <span class='span-label'> Password Confirmation: </span>
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit "Submit" %>
    </div>
  </div>
  <% end %>

</div>